@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body
{   
    font-family: Roboto Condensed;
    font-size: 18px;
    width:750px;
    margin: auto;
}
p
{
    text-align: justify;
}
.list_navigation li > ul
{
    list-style-type: none;
}
.list_U li
{
    margin-bottom:  18px;
}
figure
{
    text-align: center;
    font-style: italic;
    font-size: 16px;
}
a
{
    color: blue;
}
a:visited
{
    color: darkblue;
}
a:hover
{
    color: darkmagenta;
    font-weight: 800;
}

/*
element:pseudo-class{}
element::pseudo-element{}
*/

/*таблица*/
#table-container table thead th
{
    background-color: blueviolet;
    color: #ffffff;
    font-weight: 300;
    letter-spacing: 0.5px;

    padding: 10px 12px;
    text-align: center;
}
#table-container table th[title='Field #9']
{
    background-color: blueviolet;
    color: #ffffff;
    font-weight: 300;
    letter-spacing: 0.5px;
    padding: 10px 12px;  
}
#table-container tbody td
{
    border: 1px solid blueviolet;
    padding: 10px 15px;
    text-align: center;
}